@media(max-width: 900px){
    .login-left{
        display: none;
    }   
}

@media(max-width: 370px){
    .login-center-options{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .login-center-buttons{
        margin-top: 20px;
    }

    .login-center h2{
        font-size: 3rem;
    }

    .login-center p{
        font-size: 1.5rem;
    }

}


/* @media screen and (max-width: 1700px) { 
    .feel-good-text,
    .additional-text,
    .more-about-button {
      display: none;
    }
  }
  
  @media screen and (max-width: 1700px) {
    .login-left img {
      width: 90%;
      margin-left: 10%;
    }

  }
  */
  



@media screen and (max-width: 1366px) {
   
.login-right{
    max-width: 510px;
    height: 75vh;
    width: 800px;
    flex-grow: 1;
  }
  
  .login-right-container{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


.login-left {
  max-width: 70%; 
  width: 50%;
  flex-grow: 1;
  height: 100vh;
  background-image: url('../src/assets/gray.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
}

.login-left img {
  width: 63%; 
  margin-left:5%;
  position: relative;
  left: -4%;
  margin-top: 6%;
}

 
.line {
    width: 82%;
    height: 1px;
    background-color: #2A332A;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }


  .gol {
    position: absolute;
    top: 20px; 
    left: 65px; 
    z-index: 100;
    width: auto;
    height: auto;
    max-width: 100px; 
  }

  
.feel-good-text {
    position: absolute;
    top: 45%;
    left: 5vw;  
    transform: translateY(-50%);
    font-family: 'Noto Serif', serif;
    font-size: 5vw; 
    font-weight: 500;
    color: #2A332A;
    line-height: 1.1;
    z-index: 1;
  }
  
  .additional-text {
    font-family: 'TT Hoves', sans-serif;
    font-size: 1vw;
    color: #2A332A;
    margin-top: 16vw;
    margin-left: 10.8vw;
    letter-spacing: 0.12vw;
    white-space: nowrap;
    position: absolute;
    left: -5.5vw;
    top: 32vh;
  }
  
  .text-container {
    text-align: left;
  }

  .more-about-button {
    background-color: #322e2e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: auto;
    font-size: 12px;
    position: absolute;
    bottom: 95px;
    left: 70px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .more-about-button:hover {
    background-color: #45a049;
  }
  












  }







  @media(max-width: 900px){
    .login-left{
        display: none;
    }   
    .gol{
        display: none;
    }
    
    .login-right{
        max-width: 510px;
        height: 75vh;
        width: 800px;
        flex-grow: 1;
      }
      
      .login-right-container{
        height: 100%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
}























@media(max-width: 390px){
    .login-right{
        max-width: 710px;
        height: 75vh;
        width: 800px;
        flex-grow: 1;
      }  
}









  
@media(max-width: 900px){
    .login-right{
        max-width: 710px;
        height: 75vh;
        width: 800px;
        flex-grow: 1;
      }  
}



